{% import "_includes/forms" as forms %}

{% set selectedNotificationEvent = className(notificationEvent) %}

<div>
    {{ forms.selectField({
        id: "notificationEvent",
        name: "emailVariantSettings[eventId]",
        label: 'Event'|t('sprout-module-mailer'),
        instructions: 'The event that will trigger your notification.'|t('sprout-module-mailer'),
        options: eventOptions,
        value: selectedNotificationEvent,
        required: true,
        toggle: true,
        targetPrefix: 'notification-event-',
    }) }}

    {% for type, event in events %}
        {% if event.settings is not empty %}
            <div id="notification-event-{{ className(event)|id }}" class="notification-event-wrapper hidden">
                {% namespace 'emailVariantSettings[eventSettings][' ~ type ~ ']' %}
                    {% if className(event) is same as className(notificationEvent) %}
                        {{ notificationEvent.getSettingsHtml()|raw }}
                    {% else %}
                        {{ event.getSettingsHtml()|raw }}
                    {% endif %}
                {% endnamespace %}
            </div>


        {% endif %}

        {% if event.settings is not empty %}
            {% set eventTipHtml = event.getTipHtml() %}

            {% if eventTipHtml %}
                <div id="notification-event-tip-{{ className(event)|id }}" class="field pane notification-event-tip hidden">
                    {{ eventTipHtml|markdown }}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}

</div>

{% do sprout.modules.core.vite.register('core/SproutCp.js', false, {
    'depends': [
        'craft\\web\\assets\\cp\\CpAsset'
    ]
}) %}