{% import "_includes/forms" as forms %}

{% set module = sprout.modules.uris %}
{% set links = module.links.getLinkInstances(excludedLinks ?? []) %}
{% set linkOptions = module.links.getLinkOptions(excludedLinks ?? []) %}

{% set displayNewWindowToggle = displayNewWindowToggle ?? false %}
{% set defaultNewWindow = defaultNewWindow ?? false %}
{# {% set displayLinkTextField = displayLinkTextField ?? false %} #}
{% set defaultLinkText = defaultLinkText ?? 'Learn More'|t('sprout-module-uris') %}

{% set linkOnly = true %}

{% namespace 'enhancedLinkField' %}
    <div class="sprout-link-field {% if linkOnly %} link-only{% endif %}">
        {% if linkOnly %}

            <div class="fields link-only">
                {{ forms.select({
                    name: 'linkType',
                    class: 'sprout-link-type-link-only-toggle',
                    options: linkOptions,
                    value: '*',
                    errors: '',
                    toggle: true,
                    targetPrefix: 'link-settings-',
                }) }}

                {% for link in links %}
                    <div id="link-settings-{{ className(link)|id }}" class="link-settings hidden">
                        {{ link.getInputHtml()|raw }}
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <div class="fields">
                {% for link in links %}
                    <div id="link-settings-{{ className(link)|id }}" class="link-settings hidden">
                        {{ link.getInputHtml()|raw }}
                    </div>
                {% endfor %}

                {{ forms.textField({
                    label: "Link Text"|t('sprout-module-uris'),
                    name: 'linkText',
                    value: '',
                    placeholder: defaultLinkText,
                    fieldClass: 'link-text-field',
                }) }}
            </div>
            <div class="action-bar">
                <h6>{{ 'Link Type'|t('sprout-module-uris') }}</h6>

                <div class="link-type-select-container">
                    {{ forms.select({
                        name: 'linkType',
                        class: 'small sprout-link-type-toggle',
                        options: linkOptions,
                        value: '*',
                        errors: '',
                        toggle: true,
                        targetPrefix: 'link-settings-',
                    }) }}
                </div>

                {% if displayNewWindowToggle %}
                    {{ forms.lightswitch({
                        onLabel: 'New Window'|t('sprout-module-uris'),
                        name: 'targetNewWindow',
                        on: false,
                        small: true,
                    }) }}
                {% endif %}

            </div>
        {% endif %}
    </div>
{% endnamespace %}
