{%- set label = label ?? null %}
{%- set instructions = instructions ?? null %}
{%- set name = name ?? null %}
{%- set required = required ? true : false %}

{%- set id = fieldRenderingOptions.id ?? name %}
{%- set class = fieldRenderingOptions.class ?? (name ~ '-field') %}
{%- set value = value ?? null %}
{%- set errors = errors ?? null %}
{%- set errorClass = fieldRenderingOptions.errorClass ?? 'errors' %}
{%- set fieldCssClasses = fieldCssClasses ?? '' %}
{%- set fieldInputFolder = fieldInputFolder ?? '' %}
{%- set isPlainInput = isPlainInput ?: false %}
{%- set hasMultipleLabels = hasMultipleLabels ?: false %}
{%- set displayLabel = displayLabel ?: false %}

{%- set dataAttributes = null %}
{%- set data = fieldRenderingOptions.data ?? null %}
{%- for key, dataValue in data %}
    {%- set dataAttributes = dataAttributes ~ ' data-'~key~'="'~dataValue~'"' %}
{% endfor -%}

{%- namespace fieldNamespace -%}
    {%- if isPlainInput -%}

        {{ input|raw }}

    {%- else %}

        {% set fieldHtmlTag = hasMultipleLabels ? 'fieldset' : 'div' -%}

        <{{ fieldHtmlTag }}
        {%- if id %} id="{{ id }}-field"{% endif %} class="field {{ fieldInputFolder }}
        {%- if class %} {{ class }}{% endif -%}
        {%- if fieldCssClasses %} {{ fieldCssClasses }}{% endif -%}
        {%- if errors %} {{ errorClass }}{% endif -%}
        {%- if required %} required{% endif -%}
        " {{- dataAttributes|raw -}}
        >
        {% if (label or instructions) and displayLabel -%}
            <div data-label="form-field-heading">
                {% if label -%}
                    {%- if hasMultipleLabels -%}
                        <legend>{{- label|raw|t('site') -}}</legend>
                    {%- else -%}
                        <label{% if name %} for="{{ name }}"{% endif %}>
                            {{- label|raw|t('site') -}}
                        </label>
                    {%- endif -%}
                {%- endif -%}
                {% if instructions %}
                    <p id="{{ id }}-instructions" data-label="form-field-instructions">
                        {{ instructions|t('site')|raw }}
                    </p>
                {%- endif %}
            </div>
        {% endif -%}

        <div data-label="form-field-input">
            {{ input|raw }}
        </div>
        {%- if inlineErrorHtml -%}
            {{ inlineErrorHtml|raw }}
        {%- endif -%}

        </{{ fieldHtmlTag }}>
    {%- endif -%}
{%- endnamespace -%}
