{% extends "sprout-module-core/_layouts/settings" %}

{% import "_includes/forms" as forms %}

{% set currentSubNavKey = 'mailers' %}
{% set module = sprout.modules.mailer %}
{% set settings = module.getSettings() %}

{# {% set mailers = sprout.modules.mailer.mailers.getRegisteredMailers() %} #}

{% block actionButton %}
    <div class="buttons">
        <a href="{{ url('sprout/settings/email-themes/new') }}" class="btn submit add icon">
            {{ "New Mailer"|t('sprout-module-mailer') }}
        </a>
    </div>
{% endblock %}

{% set tableData = [] %}

{% if mailers|length %}
    {% for mailer in mailers %}

        {% set tableData = tableData|merge([{
            id: mailer.id,
            labelHtml: {
                url: mailer.getCpSettingsUrl(),
                name: mailer.name,
            },
            mailerType: mailer.displayName(),
            title: mailer.name|t('sprout-module-mailer')|e,
            url: mailer.getCpSettingsUrl(),
        }]) %}

    {% endfor %}
{% endif %}

{% block settings %}

    {{ forms.editableTableField({
        label: "Approved Senders"|t('sprout-module-mailer'),
        instructions: 'The senders from which content authors can select.'|t('sprout-module-mailer'),
        id: 'approvedSenders',
        name: 'systemMailer[approvedSenders]',
        cols: {
            fromName: {
                type: 'singleline',
                heading: "From Name"|t('sprout-module-mailer'),
                code: true,
            },
            fromEmail: {
                type: 'singleline',
                heading: "From Email"|t('sprout-module-mailer'),
                required: true,
                code: true,
            },
        }|filter,
        rows: settings.approvedSenders ?? [''],
        errors: []|unique,
        allowAdd: true,
        allowReorder: true,
        allowDelete: true,
    }) }}

    {{ forms.editableTableField({
        label: "Approved Reply-to Addresses"|t('sprout-module-mailer'),
        instructions: 'The reply-to email addresses from which content editors will select.'|t('sprout-module-mailer'),
        id: 'approvedReplyToEmails',
        name: 'approvedReplyToEmails',
        cols: {
            replyToEmail: {
                type: 'singleline',
                heading: "Reply To Email"|t('sprout-module-mailer'),
                info: "From Email will be used if no Reply To Email is provided."|t('sprout-module-mailer'),
                code: true,
            },
        }|filter,
        rows: settings.approvedReplyToEmails ?? [''],
        errors: []|unique,
        allowAdd: true,
        allowReorder: true,
        allowDelete: true,
    }) }}

    {{ forms.lightswitchField({
        label: "Enable Subscriber Lists",
        instructions: "Adds a Subscriber List Audience Type and a Subscriber Lists field to your User Field Layout to manage Craft Users (Credentialed and Inactive) as subscribers.",
        name: 'enableSubscriberLists',
        on: settings.enableSubscriberLists,
    }) }}

    <hr>

    {% set mailerTable %}
        <div class="sprout-settings-table-wrapper">
            <div
                id="admin-table"
                data-table-data="{{ tableData|json_encode }}">
            </div>
        </div>
    {% endset %}

    {{ forms.field({
        label: "Mailers"|t('sprout-module-mailer'),
    }, mailerTable) }}

{% endblock %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% do sprout.modules.core.vite.register('mailer/MailerSettings.js', false) %}

 {% js on ready %}

     new MailerSettings('#settings-admin-table');

 {% endjs %}
