{%- set id = renderingOptions.id ?? handle %}
{%- set class = renderingOptions.class ?? handle %}

{%- set notes = notes ?? null %}

{%- set dataAttributes = null %}
{%- set data = renderingOptions.data ?? null %}
{%- for key, dataValue in data %}
    {%- set dataAttributes = dataAttributes ~ ' data-'~key~'="'~dataValue~'"' %}
{% endfor -%}

<header {%- if id %} id="{{ id }}"{% endif %}
    {%- if class %} class="{{ class }}"{% endif %}
    {{- dataAttributes|raw }}>

    {% if not hideLabel %}
        <h3>{{ name }}</h3>
    {% endif %}

    {%- if output == "html" or output == "richText" %}
        {{ notes|raw }}
    {% else %}
        {{ notes|markdown }}
    {% endif %}
</header>
