{% extends "sprout-module-data-studio/_layouts/elementindex" %}
{% import "sprout-module-core/_macros/sproutcp" as sproutCp %}

{% set module = sprout.modules.dataStudio %}

{% block actionButton %}

    <div class="buttons">

        {% if newDataSetOptions|length > 0 and dataSources %}
            <div class="newwidget btngroup">
                <button type="button" class="btn menubtn submit add icon">
                    {{ newButtonLabel }}
                </button>
                <div class="menu">
                    <ul>
                        {% for option in newDataSetOptions %}
                            <li>
                                {{ tag('a', {
                                    href: option.url,
                                    text: option.name,
                                    class: 'formsubmit',
                                }) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {{ sproutCp.upgradeToProButton(module) }}

    </div>

{% endblock %}

{% block sidebar %}

    {{ parent() }}

    {{ sproutCp.sproutGroupAdminButtons(groupId) }}

{% endblock %}

{% js on ready %}

    {{ sproutCp.sproutGroupAdmin(elementType, title) }}

{% endjs %}
