{% import "_includes/forms" as forms %}
{% import "sprout-module-core/_macros/sproutcp" as sproutCp %}

{{ forms.checkboxField({
    label: "When user is created?"|t('sprout-module-transactional'),
    name: "whenNew",
    checked: event.whenNew,
    fieldClass: 'sprout-mb-0',
}) }}

{{ forms.checkboxField({
    label: "When user is updated?"|t('sprout-module-transactional'),
    name: "whenUpdated",
    checked: event.whenUpdated,
    fieldClass: 'sprout-mt-0 sprout-mb-0',
}) }}

{{ forms.checkboxField({
    label: "Send to Admins"|t('sprout-module-transactional'),
    name: "sendToAdmins",
    checked: event.sendToAdmins,
}) }}

{% if event.groups|length %}

    {{ forms.checkboxSelectField({
        label: 'User Groups'|t('sprout-module-transactional') ~ sproutCp.infoIcon(
            'Select which user groups will trigger the notification.'|t('sprout-module-transactional')
        ),
        name: "userGroupIds",
        options: event.groups,
        values: event.userGroupIds,
        errors: event is defined ? event.getErrors('userGroupIds') : null,
        showAllOption: true,
    }) }}

{% else %}

    <p>
        <em>{{ "Add a User Group to limit this event by User Group."|t('sprout-module-transactional') }}</em>
    </p>

{% endif %}

