<strong style="display:inline-block;padding:7px 10px;">

    {% if sitemapMetadata.enabled %}
        <span class="status live"></span>
    {% else %}
        <span class="status disabled"></span>
    {% endif %}

    {% if isQuery is defined and isQuery %}
        <a href="{{ cpUrl('sprout/sitemaps/edit/' ~ sitemapType ~ '/' ~ sitemapMetadata.id) }}"
            class="sprout-sectiontitle">
            <code>{{ sitemapMetadata.description }}</code>
        </a>
    {% elseif isCustom is defined and isCustom %}
        <a href="{{ cpUrl('sprout/sitemaps/edit/' ~ sitemapType ~ '/' ~ sitemapMetadata.id) }}"
            class="sprout-sectiontitle">
            <code>{{ sitemapMetadata.uri }}</code>
        </a>
    {% else %}
        {% if sitemapMetadata.uri == '__home__' %}
            <span data-icon="home" title="Homepage"></span>
        {% else %}
            {% if hasUriTags %}
                <code>
                    {{ "Conditional URL"|t('sprout-module-sitemaps') }}
                    <span class="info">
                    <h6>{{ "Conditional URL details"|t('sprout-module-sitemaps') }}</h6>
                    <p>{{ sitemapMetadata.uri }}</p>
                </span>
                </code>
            {% else %}
                <code>{{ sitemapMetadata.uri }}</code>
            {% endif %}

        {% endif %}

        {{ hiddenInput('sitemaps['~sourceKey~'][uri]', sitemapMetadata.uri) }}
    {% endif %}


    {% if sourceKey is defined %}
        {{ hiddenInput('sitemaps['~sourceKey~'][id]', sourceKey) }}
    {% endif %}

</strong>
