<strong style="display:inline-block;padding:7px 10px;">

    {% if sitemapMetadata.enabled %}
        <span class="status live"></span>
    {% else %}
        <span class="status disabled"></span>
    {% endif %}

    {% if isCustom is defined and isCustom %}
        <a href="{{ cpUrl('sprout/sitemaps/edit/' ~ sitemapMetadata.id, {
            site: sitemapMetadata.getSite().handle
        }) }}"
            class="sprout-sectiontitle">
            <code>{{ sitemapMetadata.uri }}</code>
        </a>
    {% else %}
        {{ sitemapMetadata.name }}

        {% if sitemapMetadata.uri == '__home__' %}
            <span data-icon="home" title="Homepage"></span>
        {% endif %}

        {{ hiddenInput('sitemaps[sections]['~elementGroupKey~'][uri]', sitemapMetadata.uri) }}
    {% endif %}


    {% if elementGroupKey is defined %}
        {{ hiddenInput('sitemaps[sections]['~elementGroupKey~'][id]', elementGroupKey) }}
    {% endif %}

</strong>
