{% extends "sprout-module-core/_layouts/settings" %}
{% import "sprout-module-core/_macros/sproutcp" as sproutCp %}
{% import "_includes/forms" as forms %}

{% set module = sprout.modules.forms %}
{% set settings = module.getSettings() %}

{% set currentSubNavKey = 'form-types' %}

{% set crumbs = [
    { label: "Settings"|t('sprout-module-forms'), url: cpUrl('settings') },
    { label: "Form Types"|t('sprout-module-forms'), url: cpUrl('sprout/settings/forms/form-types') }
] %}

{% set fullPageForm = true %}

{% block actionButton %}

    {#    {% if formType.isEditable() %} #}
    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('sprout-module-forms') }}">
    </div>
    {#    {% endif %} #}

{% endblock %}

{% block content %}

    <header id="content-header" class="pane-header">
        {% set tabs = {
            general: {
                label: 'General'|t('sprout-module-forms'),
                url: '#general'
            },
            features: {
                label: 'Features'|t('sprout-module-forms'),
                url: '#features'
            },
            behavior: {
                label: 'Behavior'|t('sprout-module-forms'),
                url: '#behavior'
            },
            formFieldLayout: {
                label: 'Template Fields'|t('sprout-module-forms'),
                url: '#fields'
            },
        } %}
        {% include "_includes/tabs" with {
            containerAttributes: {
                id: 'tabs',
            },
        } %}
    </header>

    {% set notEditableTipMessage = not formType.isEditable() ? "This setting is defined by the selected form type and is not editable."|t('sprout-module-forms') : null %}

    <div id="general">
        {{ forms.textField({
            label: "Name"|t('sprout-module-forms'),
            instructions: "How you will refer to this Form Type."|t('sprout-module-forms'),
            id: 'name',
            name: 'name',
            value: formType.name,
            errors: formType.getErrors('name'),
            warning: sproutConfigWarning(module, 'name'),
            required: true,
            first: true,
        }) }}

        {{ forms.autosuggestField({
            label: "Form Template"|t('sprout-module-forms'),
            instructions: "The template that will be used to render your form."|t('sprout-module-forms'),
            tip: notEditableTipMessage,
            id: 'formTemplate',
            name: 'formTemplate',
            suggestEnvVars: false,
            suggestions: craft.cp.getTemplateSuggestions(),
            placeholder: "_forms/form-type/form.twig"|t('sprout-module-forms'),
            value: formType.formTemplate ?? null,
            errors: formType.getErrors('formTemplate'),
            required: true,
            disabled: not formType.isEditable(),
        }) }}

        {{ forms.autosuggestField({
            label: "Form Template Override Folder"|t('sprout-module-forms'),
            instructions: "The folder that will take precedence over any form type files."|t('sprout-module-forms'),
            id: 'formTemplateOverrideFolder',
            name: 'formTemplateOverrideFolder',
            suggestEnvVars: false,
            suggestions: craft.cp.getTemplateSuggestions(),
            placeholder: "_forms/form-type/overrides"|t('sprout-module-forms'),
            value: formType.formTemplateOverrideFolder ?? null,
            errors: formType.getErrors('formTemplateOverrideFolder'),
        }) }}

        {{ forms.textField({
            label: "Form Type"|t('sprout-module-forms'),
            tip: 'This setting is not editable.'|t('sprout-module-forms'),
            value: formType.displayName(),
            disabled: true,
        }) }}

    </div>

    <div id="features" class="hidden">

        <h3>{{ 'Features'|t('sprout-module-forms') }}</h3>

        <div class="user-permissions">
            <ul>
                {% set featureCount = featureSettings|length %}
                {% for name, settings in featureSettings %}
                    {% namespace 'featureSettings['~name~']' %}
                        {% set featureSettings = formType.featureSettings[name] ?? null %}
                        {% set toggleId = 'sprout-feature-' ~ name %}
                        {% set hasSettings = settings.settings is defined ? true : false %}

                        <li>
                            {{ forms.checkboxField({
                                label: settings.label,
                                value: true,
                                checked: featureSettings['enabled'] ?? false,
                                name: 'enabled',
                                toggle: hasSettings ? toggleId|id : null,
                            }) }}
                        </li>
                        {% if hasSettings %}
                            <li>
                                <ul id="{{ toggleId|id }}" class="hidden">
                                    {% for uid, integrationTypeName in settings.settings %}
                                        <li>
                                            {{ forms.checkboxField({
                                                label: integrationTypeName,
                                                value: true,
                                                checked: featureSettings['settings'][uid] ?? false,
                                                name: 'settings['~uid~']',
                                            }) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endnamespace %}
                {% endfor %}
            </ul>
        </div>

        <hr>

        {% for groupLabel, formFieldTypes in formType.getFormFieldFeatures() %}

            <div class="user-permissions">
                <h3>{{ '{groupName}'|t('sprout-module-forms', { groupName: groupLabel }) }}</h3>
                {{ tag('div', {
                    text: 'Select All'|t('sprout-module-forms'),
                    class: 'select-all'
                }) }}
                <ul>
                    {% for formFieldType, label in formFieldTypes %}
                        <li>
                            {{ forms.checkboxField({
                                label: label,
                                value: formFieldType,
                                checked: formType.getFormFieldTypesByType[formFieldType] ?? false,
                                name: 'enabledFormFieldTypes[]',
                                class: 'feature-sub-checkbox',
                            }) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>

        {% endfor %}

    </div>

    {# {% css %} #}
    {#    .feature-sub-checkbox { #}
    {#    before { #}
    {#    border-top: 1px solid #eee; #}
    {#    content: ""; #}
    {#    display: block; #}
    {#    font-size: 0; #}
    {#    height: 0; #}
    {#    margin-top: 8px; #}
    {#    position: absolute; #}
    {#    width: 10px; #}
    {#    } #}
    {#    } #}
    {# {% endcss %} #}

    <div id="behavior" class="hidden">

        {{ forms.selectField({
            label: 'Submission Method'|t('sprout-module-forms'),
            instructions: 'The method used to submit your forms.'|t('sprout-module-forms'),
            id: 'submissionMethod',
            name: 'submissionMethod',
            value: formType.submissionMethod,
            options: [{
                value: "sync",
                label: "Reload Page (Synchronous)"|t('sprout-module-forms')
            },{
                value: "async",
                label: "AJAX (Asynchronous)"|t('sprout-module-forms'),
            }],
        }) }}

        {{ forms.selectField({
            label: 'Error Display Method'|t('sprout-module-forms'),
            instructions: 'The method used to display errors after a form fails validation.'|t('sprout-module-forms'),
            id: 'errorDisplayMethod',
            name: 'errorDisplayMethod',
            value: formType.errorDisplayMethod,
            options: [{
                label: 'Inline - Display errors alongside their respective fields',
                value: 'inline',
            },{
                label: 'Globally - Display errors together in a list',
                value: 'global',
            },{
                label: 'Inline & Globally - Display errors everywhere!',
                value: 'both',
            }],
        }) }}

        <hr>

        {{ forms.lightswitchField({
            label: "Save data to the Craft database"|t('sprout-module-forms'),
            instructions: "Disable this setting to stop Sprout Forms from saving all form submission data to the Craft database and hide the Submissions tab. Existing data will not be deleted, but will no longer be accessible via the Control Panel."|t('sprout-module-forms'),
            id: 'enableSaveData',
            name: 'enableSaveData',
            toggle: 'settings-savedatadetails',
            on: formType.enableSaveData,
            onLabel: "Save Data"|t('sprout-module-forms'),
            offLabel: "Don't Save Data"|t('sprout-module-forms'),
        }) }}

        <div id="settings-savedatadetails"
            class="{{ not formType.enableSaveData ? "hidden" : '' }}">

            {{ forms.lightswitchField({
                label: "Track Remote IP"|t('sprout-module-forms'),
                instructions: "Enable to capture the IP Address used when a Submission is saved. IP Addresses may be considered personal information."|t('sprout-module-forms'),
                name: 'trackRemoteIp',
                on: formType.trackRemoteIp ? true : false,
                onLabel: "Save Data"|t('sprout-module-forms'),
                offLabel: "Don't Save Data"|t('sprout-module-forms'),
            }) }}

        </div>

        <hr>

        {% set assetField = create('craft\\fields\\Assets') %}

        {{ forms.checkboxSelectField({
            label: 'Allowed Asset Volumes'|t('sprout-forms'),
            instructions: 'The asset volumes that will be available to select when adding a File Upload field to a form.'|t('sprout-forms'),
            name: 'allowedAssetVolumes',
            options: assetField.getSourceOptions(),
            values: formType.allowedAssetVolumes,
            showAllOption: true,
        }) }}

        {{ forms.textField({
            label: "Default File Upload Location Subpath"|t('sprout-forms'),
            instructions: "The default subpath will be used whenever a new File Upload field is added to a form. The subfolder path can contain variables like the Form Entry ID <code>{id}</code> or the Form handle <code>{{ object.getForm().handle }}</code>"|t
                ('sprout-forms'),
            id: 'defaultUploadLocationSubpath',
            name: 'defaultUploadLocationSubpath',
            value: formType.defaultUploadLocationSubpath,
            placeholder: '{{ object.getForm().handle }}',
        }) }}

        <hr>

        {{ forms.lightswitchField({
            label: "Allow Forms to be edited in front-end templates"|t('sprout-module-forms'),
            instructions: "Enable this setting to allow users to edit existing submissions in front-end templates. Enabling this feature may have some workflow or security considerations as forms allow anonymous submissions."|t('sprout-module-forms'),
            id: 'enableEditSubmissionViaFrontEnd',
            name: 'enableEditSubmissionViaFrontEnd',
            on: formType.enableEditSubmissionViaFrontEnd,
            onLabel: "Allow Edits"|t('sprout-module-forms'),
            offLabel: "Don't Allow Edits"|t('sprout-module-forms'),
        }) }}

    </div>

    <div id="fields" class="hidden">
        {% set fieldLayoutInstructions = "The content fields that can be used in this form type."|t('sprout-module-forms') %}

        {{ forms.fieldLayoutDesignerField({
            fieldLayout: formType.getFieldLayout(),
            errors: formType.getErrors('fieldLayout'),
        }) }}

    </div>

    {{ actionInput('sprout-module-forms/form-types/save') }}
    {{ redirectInput('sprout/settings/forms/form-types') }}

    {{ hiddenInput('uid', formType.uid) }}
    {{ hiddenInput('type', className(formType)) }}

{% endblock %}

    {% css %}
        .user-permissions h3 {
        float: left;
        padding-right: 0.5em;
        margin: 14px 0.5em 0 !important;
        margin-left: 0 !important;
        border-right: 1px solid #eee;
        }

        .user-permissions ul {
        clear: both;
        }

        .user-permissions .checkboxfield {
        margin: 0;
        }

        .select-all {
        color: var(--link-color);
        cursor: pointer;
        font-size: .9em;
        margin: 13px 0;
        display: inline-block;
        }
    {% endcss %}

    {% js %}
        let selectLinks = document.querySelectorAll('.select-all');

        selectLinks.forEach(function(link) {
        link.addEventListener('click', function() {
        // toggle all checkboxes in .checkbox-group div
        let checkboxes = this.nextElementSibling.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function(checkbox) {
        checkbox.checked = !checkbox.checked;
        });
        // toggle text of .select-all div
        this.innerText = this.innerText === 'Select All' ? 'Deselect All' : 'Select All';
        });
        });
    {% endjs %}

    {# {% js "new Craft.HandleGenerator('#name', '#handle');" %} #}
