{% requirePermission 'sprout-module-redirects:editRedirects' %}

{% extends "sprout-module-redirects/_layouts/elementindex" %}
{% import "sprout-module-core/_macros/sproutcp" as sproutCp %}

{% set module = sprout.modules.redirects %}

{% set bodyClass = 'sprout-redirects-index' %}

{% block actionButton %}
    <div class="buttons">
        {{ newRedirectButtonHtml }}
        {{ sproutCp.upgradeToProButton(module) }}
    </div>
{% endblock %}

{% block sidebar %}

    {{ parent() }}

    <div class="buttons">
        {{ excludeUrlsButtonHtml }}
    </div>

{% endblock %}

{% css %}
    .element.small.hasstatus
    {
    word-break: break-all;
    hyphens: auto;
    }
{% endcss %}

{% block initJs %}
    SproutRedirectElementIndexInit = function() {
    {{ parent() }}
    };
{% endblock %}
