{% import "_includes/forms" as forms %}

{% set mailerInstructionsSettings = email.getMailerInstructions() %}

<h6>{{ 'Email Details'|t('sprout-module-mailer') }}</h6>
<table>
    <tr>
        <th>{{ 'Subject Line'|t('sprout-module-mailer') }}</th>
        <td>{{ email.subjectLine }}</td>
    </tr>
    <tr>
        <th>{{ 'From Address'|t('sprout-module-mailer') }}</th>
        <td>{{ mailerInstructionsSettings.getSenderAsString() }}</td>
    </tr>
</table>

<hr>

{% namespace 'mailerInstructionsSettings' %}

    {{ hiddenInput('sender', mailerInstructionsSettings.sender) }}
    {{ hiddenInput('replyToEmail', mailerInstructionsSettings.getReplyToEmail()) }}

    {% set placeholder = currentUser.email ~ ', ' ~ currentUser.friendlyName ~ ' <' ~ currentUser.email ~ '>' %}

    {{ forms.textField({
        label: "To"|t('sprout-module-mailer'),
        instructions: 'Comma-separated list of recipients.'|t('sprout-module-mailer'),
        name: 'recipients',
        placeholder: placeholder,
        value: '',
        first: true,
        warning: warningMessage,
    }) }}

{% endnamespace %}
