{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% import "sprout-module-core/_macros/sproutcp" as sproutCp %}

{% do sprout.modules.core.vite.register('core/SproutCp.js', false, {
    'depends': [
        'craft\\web\\assets\\cp\\CpAsset'
    ]
}) %}

{% do sprout.modules.core.vite.register('sitemaps/Sitemaps.js', false, {
    'depends': [
        'craft\\web\\assets\\cp\\CpAsset'
    ]
}) %}

{% set module = sprout.modules.sitemaps %}
{% set siteGroup = craft.app.sites.getGroupById(firstSiteInGroup.groupId) %}

{% block main %}

    <div class="content-pane">
        {{ hiddenInput('siteId', currentSite.id, {
            id: 'current-site-id'
        }) }}

        <div class="sprout-section-header" style="display: flex;align-items: center;{% if craft.app.getIsMultiSite() and currentSite.id != firstSiteInGroup.id %}padding:18px 24px 17px;{% endif %}">
            <div style="flex-grow: 1;">
                <h3 style="text-transform: uppercase;">{{ "Sections"|t }}
                    <span class="info">{{ "Manage all of your Section-level SEO for Search, Social Sharing, Sitemaps, and Structured Data."|t }}</span>
                </h3>
            </div>
            <div style="flex-shrink: 0;">
                {% if craft.app.getIsMultiSite() and currentSite.id != firstSiteInGroup.id %}
                    <div class="buttons right">
                        <a class="btn submit icon"
                            href="{{ cpUrl('sprout/sitemaps', {
                                site: firstSiteInGroup.handle
                            }) }}">
                            {{ "Edit {group} Sitemap"|t('sprout-module-sitemaps', {
                                group: siteGroup.name
                            }) }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if not settings.aggregateBySiteGroup() or (craft.app.getIsMultiSite() and currentSite.id == firstSiteInGroup.id) %}

            {% for elementWithUri in elementsWithUris %}

                {% for sourceKey, sitemapMetadata in sitemapMetadataByKey %}

                    {% set isNewSitemapSection = not sitemapMetadata.id %}

                    {% if loop.first %}

                        {% set name = elementWithUri.displayName() %}

                        <table class="data fullwidth sitemap-settings">
                        <thead>

                        {% block sitemapMetadataTableRowHead %}{% endblock %}

                        </thead>
                        <tbody>

                    {% endif %}
                    {% if sitemapMetadata.name is defined and className(elementWithUri) == sitemapMetadata.type %}
                        {% set elementName = elementWithUri.pluralLowerDisplayName() %}
                        {% set sproutSeoHandle = elementName~':'~sitemapMetadata.handle %}

                        <tr class="{{ isNewSitemapSection ? 'sitemapsection-isnew' : null }}"
                            data-source-key="{{ sourceKey }}"
                            data-sitemap-metadata-id="{{ sitemapMetadata.id ?? null }}"
                            data-type="{{ className(elementWithUri) }}"
                            data-element-group-id="{{ sitemapMetadata.elementGroupId }}"
                            data-uri="{{ sitemapMetadata.uri }}"
                            data-is-new="{{ isNewSitemapSection }}"
                            data-plugin-handle="{{ craft.app.getRequest().getSegment(1) }}">

                            {% block sitemapMetadataTableRow %}{% endblock %}

                        </tr>
                    {% endif %}

                    {% if loop.last %}

                        </tbody>
                        </table>
                        <br>

                    {% endif %}

                {% endfor %}

            {% endfor %}

        {% else %}
            {% set boxBody %}
                <p>{{ "Multi-lingual sitemaps have a single sitemap edit page for all URL-Enabled Sites in a Site Group. Edit the <a href='{url}'>{group} Sitemap</a> to manage the multi-lingual sitemap for all sites in the site group."|t('sprout-module-sitemaps', {
                        group: siteGroup.name,
                        url: url('sprout/sitemaps/') ~ firstSiteInGroup.handle
                    })|raw }}</p>
            {% endset %}

            {{ sproutCp.mediaBox({
                heading: "{group} Multi-lingual Sitemap"|t('sprout-module-sitemaps', {
                    group: siteGroup.name
                }),
                body: boxBody,
                resourcePath: '@Sprout/Assets/sprout/icons/sitemaps/icon.svg'
            }) }}
        {% endif %}

    </div>

    {% if settings.enableCustomSections %}

        <br>
        <div class="content-pane">
            <div class="sprout-section-header" style="display: flex;align-items: center;">
                <div style="flex-grow: 1;">
                    <h3 style="text-transform: uppercase;">{{ "Custom Pages"|t }}</h3>
                </div>
                <div style="flex-shrink: 0;">
                    <div class="buttons right">
                        <a class="btn submit add icon" href="{{ cpUrl('sprout/sitemaps/new', { 'site': currentSite.handle }) }}">{{ "Custom URL"|t }}</a>
                    </div>
                </div>
            </div>

            {% if customSections|length %}

                <table class="data fullwidth custom-pages sitemap-settings" id="custom-pages">
                    <thead>

                    {% block customSectionTableRowHead %}{% endblock %}

                    </thead>
                    <tbody>

                    {% for customSection in customSections %}

                        {% set customPageSourceKey = 'custom-pages' %}

                        <tr data-source-key="{{ customPageSourceKey }}"
                            data-sitemap-metadata-id="{{ customSection.id }}"
                            data-type="{{ customSection.type }}"
                            data-name="{{ "Custom Page"|t('sprout-module-sitemaps') }}"
                            data-plugin-handle="{{ craft.app.getRequest().getSegment(1) }}">

                            {% block customSectionTableRow %}{% endblock %}

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

            {% else %}

                {% set boxBody %}
                    <p>{{ "Add a Custom URL for any page that doesn't exist in a URL-Enabled Section."|t('sprout-module-sitemaps')|raw }}</p>
                {% endset %}

                {{ sproutCp.mediaBox({
                    heading: "Custom Pages"|t('sprout-module-sitemaps'),
                    body: boxBody,
                    resourcePath: '@BarrelStrength/Sprout/web/assets/sprout/icons/sitemaps/icon.svg'
                }) }}

            {% endif %}

        </div>
    {% endif %}

{% endblock %}

