{% set details = sentEmail.getDetails() %}

<table class='data fullwidth'>
    <tr>
        <th colspan="2">
            <h6>{{ "Delivery Info"|t('sprout-module-sent-email') }}</h6>
        </th>
    </tr>
    <tr>
        <th style="width:25%;">{{ 'Delivery Status'|t('sprout-module-sent-email') }}</th>
        <td>{{ details.deliveryStatus ?? '–' }}</td>
    </tr>
    <tr>
        <th>{{ 'Message'|t('sprout-module-sent-email') }}</th>
        <td>{{ details.message ?? '–' }}</td>
    </tr>
</table>

<hr>

<table class='data fullwidth'>
    <tr>
        <th colspan="2">
            <h6>{{ "Sender Info"|t('sprout-module-sent-email') }}</h6>
        </th>
    </tr>
    <tr>
        <th style="width:25%;">{{ 'Sender Name'|t('sprout-module-sent-email') }}</th>
        <td>{{ details.senderName ?? '–' }}</td>
    </tr>
    <tr>
        <th>{{ 'Sender Email'|t('sprout-module-sent-email') }}</th>
        <td>{{ details.senderEmail ?? '–' }}</td>
    </tr>
    <tr>
        <th>{{ 'Craft Version'|t('sprout-module-sent-email') }}</th>
        <td>{{ details.craftVersion ?? '–' }}</td>
    </tr>
    <tr>
        <th>{{ 'IP Address'|t('sprout-module-sent-email') }}</th>
        <td>{{ details.ipAddress ?? '–' }}</td>
    </tr>
    <tr>
        <th>{{ 'User Agent'|t('sprout-module-sent-email') }}</th>
        <td>{{ details.userAgent ?? '–' }}</td>
    </tr>
</table>

<hr>

<table class='data fullwidth'>
    <tr>
        <th colspan="2">
            <h6>{{ "Email Settings"|t('sprout-module-sent-email') }}</h6>
        </th>
    </tr>
    {% if details.transportType is defined %}
        <tr>
            <th style="width:25%;">{{ 'Transport Type'|t('sprout-module-sent-email') }}</th>
            <td>{{ details.transportType ?? '–' }}</td>
        </tr>
    {% endif %}
    {% set transportSettings = details.getTransportSettingsAsArray() %}
    {% if transportSettings|length %}
        {% for key, value in transportSettings %}
            <tr>
                <th>{{ key }}</th>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
